.Btn {
    font-size: 25px;
    border: rgb(165, 42, 42) 4px solid;
    padding: 35px;
    border-radius: 100px;
    background-color: brown;
    color: white;
    margin-top: 9%;
    font-weight: 700;
}

.Btn:hover {
    background-color:rgb(207, 174, 174);
    color: brown;
    font-weight: 700;
}

body, html {
    height: 100%;
    width: 100%;
    text-align: center;
}
html {
    text-align: center;
    background-image: url('https://hdqwalls.com/download/1/ocean-clear-lu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    margin-top: 0px;
    color: whitesmoke;
    background-color: black;
    padding: 10px;
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border:solid 2px; 
    border-radius: 5px; 
    border-color: rgb(255, 255, 255);
}

p {
    border: wheat 5px solid;
    border-radius: 10px;
    background-color: wheat;
    color: royalblue;
    font-family: 'Pangolin', cursive;;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 35px;
    max-width: 95%;
}

#p2 {
    background-color: black;
    color: white;
}

#p2:hover {
    cursor:pointer;
}

span {
    border: Red 5px solid;
    border-radius: 10px;
    background-color: red;
    color: rgb(255, 255, 255);
    font-family: 'Pangolin', cursive;;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 50px;
    max-width: 95%;
}

.answer {
    color:whitesmoke;
    font-style: italic;
}